//Colors
$color-brown-dark: #7a4b41;
$color-brown-light-1: #d0b190;

$color-red-prim: #8d2c2c;
$color-purple-prim: #4e104b;
// $color-purple-prim: #873985;
// $color-purple-prim: #561855;

$color-grey-dark: #545454;
$color-grey-dark2: #2c2c2c;

$color-yellow-light: #f9f5ea;

$color-white: #fff;
$color-black: #000;

$color-blue-dark-grad1: #2f4858;
$color-blue-light-grad1: #59a5d3;

$color-green-dark-grad2: #006d60;
$color-green-light-grad2: #44cebe;

// GRID
$grid-width: 71.25rem;
$gutter-vertical: 5rem; //margin top and bottom
$gutter-horizontal: 3.75rem; //margin left and right

//NEW DESIGN

//gradient
$color-blue-dark1: #193b54;
$color-blue: #018fa3;
$color-blue-light: #07a0b5;
$color-blue-light3: #e1f0f1;

// background color
$color-blue-light2: #b3cacf;
$color-orange-light1: #f9d2ae;
$color-orange-light2: #f8ece2;
$color-orange-light3: #f8f7f6;
