
//Colors
$color-brown-dark: #7a4b41;
$color-brown-light-1: #d0b190;


$color-red-prim: #8d2c2c;

$color-grey-dark: #545454;

$color-yellow-light: #f9f5ea;

$color-white: #fff;
$color-black: #000;


$color-blue-dark-grad1: #2F4858;
$color-blue-light-grad1: #59A5D3;

$color-green-dark-grad2: #006D60;
$color-green-light-grad2: #44CEBE;


// GRID
$grid-width: 71.25rem;
$gutter-vertical: 5rem;        //margin top and bottom
$gutter-horizontal: 3.75rem;   //margin left and right

