
//Colors
$color-brown-dark: rgb(122, 75, 65);
$color-brown-light-1: rgb(209, 178, 145);


$color-red-prim: #8d2c2c;

$color-grey-dark: #545454;

$color-yellow-light: #f9f5ea;

$color-white: #fff;
$color-black: #000;



// GRID
$grid-width: 71.25rem;
$gutter-vertical: 5rem;        //margin top and bottom
$gutter-horizontal: 3.75rem;   //margin left and right

