@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";
@import "components/feature-box";
@import "components/navBar";

@import "layout/header";
@import "layout/header-heading";
@import "layout/grid";
@import "layout/navigation";
@import "layout/footer";

@import "pages/about-me"; 
@import "pages/about"; 
@import "pages/projects-section";
@import "pages/contact"; 


  
 

    