.header {
    height: 100vh;
    // height: 95vh;
    background-image: url(../img/jplenio_Pixabay_fogg.jpg);
    background-position: center;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); 

    &__text-box{
        display: flex;
        flex-direction: column;
        justify-items: center;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -97%);
    }
    
}