.heading-primary {
    display: block;
    transform: skew(6deg);
    &:hover {
        cursor: default;
    }
    
    &--main {
        overflow: hidden;
        border-right: 0.25rem solid $color-grey-dark;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: 0.3rem;
        font-size: 3rem;
        font-weight: 400;
    
        animation: 
        typing 3.5s steps(40, end), 
        blink 0.75s step-end infinite;
    }
    
    &--sub {
        display: block;
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 0.023em;
        opacity: 0;
        transform: translateY(3rem);
        animation: show-sub 2s ease 4s forwards;
    }
    
    &--sub-extra {
        color: $color-red-prim;
        font-weight: 500;
    }
    
}