.heading-primary {
    border: 1px solid black;  
    display: block;
    transform: skew(6deg);
    &:hover {
        cursor: default;
    }

    @include respond(tab-port) {
        transform: skew(4deg);  
    }
    @include respond(phone) {
        transform: skew(0);   
    }
    
    &--main {
        border: 1px solid green;
        overflow: hidden;
        border-right: 0.25rem solid $color-grey-dark;
        white-space: nowrap;
        margin: 0 auto .5rem 0;
        letter-spacing: 0.3rem;
        font-size: 3rem;
        font-weight: 500; 
        text-align: center;
    
        animation: 
        typing 3.5s steps(40, end), 
        blink 0.75s step-end infinite;

        @include respond(phone) {
            font-size: 2.5rem;
        } 
    }
    
    &--sub {
        display: block;
        font-weight: 500;
        font-size: 1.6rem;
        letter-spacing: 0.023em;
        opacity: 0;
        transform: translateY(3rem);
        animation: show-sub 2s ease 4s forwards;

        @include respond(phone) {
            text-align: center;
            font-size: 2rem;
        }
    }
    
    &--sub-extra {
        color: $color-red-prim;
        font-weight: 700; 
    }
    
}