.navigation {
    &__checkbox {
        display: none;
    }


    &__button {
        background-color: $color-white;
        width: 6rem;
        height: 6rem;
        position: fixed;
        top: 5rem;
        right: 5rem;
        border-radius: 50%;
        z-index: 2000;
        
    }

    &__background {  
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        position: fixed;
        top: 5.5rem;
        right: 5.5rem;
        background-image: radial-gradient($color-brown-light-1, $color-brown-dark);
        z-index: 1000;


        transform: scale(50);
    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, - 50%);
        list-style: none;
        text-align: center; 

    }

    &__item {
        margin: 2rem; 

    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 2rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50% ); 
            background-size: 240%;
            transition: all .3s;

            span {
                display: inline-block;
                margin-right: 1rem;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-brown-dark;
            transform: translateX(.8rem); 
        }

    }
}