/* 
Primary color: #545454
Secondary color: #848484
Dark color: #424242

Red Prim: #8d2c2c;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #545454;
    padding: 15px;
}

.header {
    height: 95vh;
    background-image: url(./img/header_bg-img.jpg);
    background-position: 90%, -100px;
    background-size: cover;

    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.heading-primary {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-27%, -125%);
}

.heading-primary-main {
    display: block;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 3px;
    position: relative;
}

.heading-primary-main::before,
.heading-primary-main::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.heading-primary-main::before {
    background: #fff;
    animation: 
        typewriter 4s steps(23) 1s forwards;
}

.heading-primary-main::after {
    width: 0.5em;
    background: #000;
    animation: 
        typewriter 4s steps(23) 1s forwards,
        blink 750ms steps(23) infinite

}




.heading-primary-sub {
    display: block;
    font-weight: 400;
    font-size: 0.8em;
    opacity: 0;
    transform: translateY(3rem);
    animation: showSub 2s ease 6s forwards;

}

.heading-primary-sub-extra {
    color: #8d2c2c;
    font-weight: 500;

}

@keyframes typewriter {
    to{
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes showSub {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}