.btn {

    &:link,
    &:visited {
       text-decoration: none;
       transition: all .2s;
   }
   
   
   &--brown{
       display: block;
       text-align: center;
       width: 20rem;
       margin-right: auto;
       margin-left: auto;
       color: $color-white;
       background-color: rgba($color-brown-dark, .7);
       font-size: 1.2em;
       margin-top: 2.3rem;
       padding: 0.5em 2em;
       border-radius: 15px;
       opacity: 0;
       animation: show-btn 2s ease-in-out 5s forwards;
   }
   
   &:hover {
       transform: translateY(-3px);
       box-shadow: 0 10px 20px rgba($color-black, 0.2);
   }
   
   &:active {
       transform: translateY(-1px);
       box-shadow: 0 5px 10px rgba($color-black, 0.2);
   
   }
   
   }