.btn {

    &:link,
    &:visited {
       text-decoration: none;
       transition: all .2s;
   }
   
   
   &--brown{
       display: block;
       text-align: center;
       width: 20rem;
       margin-right: auto;
       margin-left: auto;
       color: $color-white;
       background-color: rgba($color-brown-dark, .7);
       font-size: 1.2em;
       margin-top: 2.3rem;
       padding: 0.5em 2em;
       border-radius: 15px;
       opacity: 0;
       animation: show-btn 2s ease-in-out 5s forwards;
   }
   
   &:hover {
       transform: translateY(-3px);
       box-shadow: 0 10px 20px rgba($color-black, 0.2);
   }
   
   &:active {
       transform: translateY(-1px);
       box-shadow: 0 5px 10px rgba($color-black, 0.2);
   
   }
   
   }

   .btn-text {
       &:link,
       &:visited {
        color: $color-red-prim;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-red-prim;
        padding: 3px;
        transition: all .2s;
       }

       &:hover {
            color: $color-white;
            background-color: $color-red-prim;
            box-shadow: 0 .8rem 1.2rem rgba($color-black, 0.2);
            transform: translateY(-2px);
       }

       &:active {
            box-shadow: 0 .4rem .8rem rgba($color-black, 0.2);
            transform: translateY(0);
       }


   }