.composition {
    
    width: 90%;
    margin: 0 auto;

    @include respond(tab-port) {   
        margin: 1rem auto; 
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; 
        
    }
    
    &__img { 
        width: 45%; 
        box-shadow: 0 1rem 3rem rgba($color-black, .5);
        // position: relative; 
        transition: all .2s;
        outline-offset: 1.2rem;  
        
        
        
        @include respond(tab-port) { 
            width: 40%; 
            display: block; 
         }
    

        &--p1{
            margin: 2rem;

            @include respond(tab-port){
                margin: 0;
                height: 13rem;
            }

          
            
        }
        
        &--p2{
            margin-left: 25rem;
            margin-top: -10rem;  

            @include respond(tab-port){
                margin-left: -6rem;  
                margin-top: 3rem; 
                transform: scale(1.2);
                z-index: 50;
            }
        }

        &--p3{
            margin-top: -5rem; 
            margin-left: 15rem;

            @include respond(tab-port){
               margin-top: 0;  
               margin-left: -7rem; 
               height: 13rem; 

            }
        } 

        &:hover {
            outline: 1rem solid $color-blue-light; 
            transform: scale(1.05) translateY(-.4rem); 
            box-shadow: 0 2rem 3rem rgba($color-black, .6);
            z-index: 200;

        }
          
    } 
    &:hover &__img:not(:hover) {
        transform: scale(.95);
        z-index: 100;  
    } 
}