.feature-box {
    padding: 0 .7rem;
    min-height: 40vh; 
    flex: 1;
    max-width: 20%; 
    background-color: rgba($color-white, .7);
    text-align: center; 
    border-radius: 3px;
    box-shadow: 0 1rem 3rem rgba($color-black, .15);
    transition: transform .3s;

    &__icon {
        display: inline-block;  
        width: 20%;
        margin: 2rem 0;
  

        img { 
            width: 100%;  
            display: inline-block;
        }
    }  

    &:hover {
        transform: translateY(-.4rem) scale(1.04);
    }
    
}           