* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    // defines what 1 rem is 
    font-size: 16px;

    @include respond(big-desktop) {
        font-size: 20px;
    }

    @include respond(tab-land) {
        font-size: 12px;
    }

    @include respond(tab-port) {
        font-size: 10px;
    }
    
    @include respond(phone) {
        font-size: 8px;
    }  
    
    @include respond(phone-small) {
        font-size: 6px; 
    }  
    
    
    
    
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color:$color-grey-dark;
    padding: 1rem;

    @include respond(tab-port) {
       padding: 0;
    }
}