.section-about-me { 
    background-image: linear-gradient( 
        to left,
        rgba($color-orange-light2, 1),
        rgba($color-orange-light1, 1));

    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    
    &__main-box {
        display: flex;
        align-items: center;
    }
    
    &__img-container {
        flex: 1;
        width: 100%;   
        height: 100%;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 .8rem 1.2rem rgba($color-black, .4);
        
        @include respond(phone) {
            flex: 0;
        }
        
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center; 
        } 
    }

    &__content-container {
        flex: 3;
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        text-align: justify; 

        p {
            margin-top: 1rem;

            @include respond(phone) {
                font-size: 1.8rem;      
            }

            @include respond(phone-small) {
                font-size: 2rem;      
            }
        }
    }

    &__photos-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
    
        margin: 1rem 0;
        padding: 0 3rem; 
    }

    &__photo {
        width: 20%;
        border-radius: 3px;
        overflow: hidden; 
        box-shadow: 0 .8rem 1.2rem rgba($color-black, .4);
        margin-top: 1rem;    
        
        @include respond(phone) {
            width: 30%; 
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;  
            transition: all .2s;  

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}