.section-details {
    height: auto; 
    background-image: linear-gradient( 
        to right,
        rgba($color-brown-light-1, .8),
        rgba($color-brown-dark, .8)),  
    url(../img/jplenio_Pixabay_fogg_1280x720.jpg);
    background-position: center; 
    background-size: cover;      
    display: flex;  
    flex-direction: column;      
    // transform: skewY(-6deg);      

    padding: 8rem 0;   

    @media (min-resolution: 192dpi) and (min-width: 37.5em),
            (min-width: 75em) {
                background-image: linear-gradient( 
                    to right,
                    rgba($color-brown-light-1, .8),
                    rgba($color-brown-dark, .8)),  
                url(../img/jplenio_Pixabay_fogg.jpg);
    }

    &__content-container {             
        margin: auto 2rem;   
        // transform: skewY(6deg);  
    }

    &__text {
        padding-bottom: 2rem;      
    }


    @include respond(tab-port) {
        height: auto;
     }
 
}


.features-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  

    @include respond(tab-port) {
        display: felx;
        flex-direction: column;
     }

}