.section-about {
    
    background-image: linear-gradient( 
        to right,
        rgba($color-orange-light2, .8),
        rgba($color-orange-light1, .8)),  
    url(../img/ian-dooley-baloons-unsplash.jpg);  
    background-position: center; 
    background-size: cover;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;

    
    @include respond(tab-port) { 
    } 

    @include respond(phone-small) {
        
    }

    @include respond(desktop) {
        
    }
    
    &__project-container {
        background-color: rgba($color-white, .6); 
        width: 90%;
        margin: 2rem auto;
        padding: 2rem 1.5rem; 
        border-radius: 3px;
        box-shadow: 0 .8rem 1.2rem rgba($color-black, .4);
        color: $color-blue-dark1;
    }

    &__project-title {
        display: block;
        text-align: center;
        padding-bottom: 2rem;
        font-size: 2rem;

    }
} 


.heading-secondary {
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(to left,  $color-blue-dark1, #1a526e,
    #156b88, #0c85a0, $color-blue-light); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
    background-clip: text;
    cursor: default;
    text-align: center; 
} 

.content-about {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include respond (tab-port) {
        display: flex;
        flex-direction: column; 
    } 

    &__intro {
        display: flex;
    }

    &__text {
        display: flex;
        flex-direction: column; 
        padding-right: 1rem; 
    }

    &__img {

    }

    &__details {
        padding-top: 2rem;
        display: flex;
        justify-content: space-between;
        margin: 0 5rem;
    }

    &__btn-box {
        width: 30rem;
        margin: 0 auto;
    }

}

.heading-tertiary {
    font-weight: 700;
}

.paragraph {
    font-weight: 400;
}



.button-box{
        margin: 3rem auto; 
        font-size: 1.2rem;
        font-weight: 400;
    
        
        
        
        a {
            color: $color-white;
            display: block;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: .4rem .8rem; 
            border-radius: 10rem;
            background-image: linear-gradient(to right top,
            rgba($color-brown-dark, 1), 
            rgba($color-brown-light-1, 1));  
            box-shadow: 0 0 .4rem rgba($color-black, .4); 
    
            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 10px 20px rgba($color-black, 0.2);
                }
            
            &:active {
                transform: translateY(-1px);
                box-shadow: 0 5px 10px rgba($color-black, 0.2);
                }
            
            @include respond(phone) {
                padding: .8rem 3rem;
               font-size: 2rem;
            }
    
            span {
                padding-left: .4rem; 
                height: 1.5rem; 
    
                @include respond(phone) {
                    height: 3rem; 
                }
    
                img {
                    height: 100%;
    
                }
            }
         }
        }
