.section-details {
    height: 100vh;
    background-image: linear-gradient( 
        to right,
        rgba($color-brown-light-1, .8),
        rgba($color-brown-dark, .8)),  
    url(../img/jplenio_Pixabay_fogg.jpg);
    background-position: center;
    background-size: cover;  
    display: flex;  
    flex-direction: column;      
    transform: skewY(-6deg);     

    margin-top: -9rem;  

    &__content-container {             
        margin: auto 2rem;   
        transform: skewY(6deg); 
    }

    &__text {
        padding-bottom: 2rem;      
    }
           
 
}


.features-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  

}