.section-about {
    background-color: $color-yellow-light;
    padding: 15.5rem 0;
    margin-top: -15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.heading-secondary {
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(to right, $color-brown-light-1, #bc977b, #a67d66, #906353,  $color-brown-dark);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    cursor: default;
} 

.content-about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__text{
    
    }

    &__img{
    
    }
}

.heading-tertiary {
    font-weight: 700;
}

.paragraph {
    font-weight: 400;
}

