.section-about {
    background-color: $color-orange-light1; 
    padding: 4rem 0 10rem 0 ;    
    display: flex;
    flex-direction: column;
    align-items: center;

    
    @include respond(tab-port) {
        padding-top: 14rem;  
    } 

    @include respond(phone-small) {
        padding-top: 16rem;
    }

    @include respond(desktop) {
        padding: 15rem 0 10rem 0 ;
    }
} 

.heading-secondary {
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(to right,  $color-blue-dark1, #1a526e,
    #156b88, #0c85a0, $color-blue-light);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    cursor: default;
    text-align: center; 
} 

.content-about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respond (tab-port) {
        display: flex;
        flex-direction: column; 
    } 

}

.heading-tertiary {
    font-weight: 700;
}

.paragraph {
    font-weight: 400;
}

.btn-box {
    align-self: flex-start;
    margin-left: 2rem; 
    margin-top: 3rem;  
}