.section-contact {
    height: 100vh;
    background-image: linear-gradient( 
        to left,
        rgba($color-orange-light2, 1),
        rgba($color-orange-light1, 1));

    display: flex;
    align-items: center;
    justify-content: center;
     

    &__container {
        height: 60vh;
        width: 80%;
        background-image: linear-gradient(105deg, 
            rgba($color-white, .9) 0%,
            rgba($color-white, .9) 50%,
            transparent 50%,),
         url(/img/ian-dooley-baloons-unsplash_contactMe.jpg);
        background-size: cover;
        border-radius: 3px;
        box-shadow: 0 .8rem 1.2rem rgba($color-black, .4);
    }

    &__content {
        width: 50%; 
        display: flex;
        flex-direction: column;
        padding: 1rem;

        
    }

    &__top-bar {
        border: 1px solid red;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;

        &--left {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__icon-box {
        display: block;
        width: 2.5rem;
        margin-right: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            display: block;
            object-fit: fill;
            object-position: center;
        }

        &--small {
            width: 2rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;

        h4 {
            text-align: center;
            text-transform: uppercase;
        }

        button {
            padding: .4rem 2rem; 
            border: none;
            border-radius: 20rem; 
            text-align: center;
            display: block;
            margin: 1rem auto 0 auto;  
            text-transform: uppercase;
            color: $color-white;
            background-image: linear-gradient(
                to top, $color-blue-dark1, #1a526e,
                #156b88, #0c85a0, $color-blue-light);  
            box-shadow: 0 0 .4rem rgba($color-black, .4);

                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0 10px 20px rgba($color-black, 0.2);
                }
            
                &:active {
                transform: translateY(-1px); 
                box-shadow: 0 5px 10px rgba($color-black, 0.2);
                }
        }

    }

    &__form-el {
        display: flex;
        flex-direction: column;

        label {
            font-size: .7rem; 
            display: block;
            margin-bottom: .2rem; 
        }

        input {
            margin-bottom: .7rem; 
            padding: .4rem 0;
            font-family: monospace;
        } 

        textarea {
            height:5rem;
            padding: .3rem 0;
        }

        input, textarea {
            border: none;
            background-color: $color-white;
            border-radius: 3px;
            box-shadow: 0  0 .2rem rgba($color-black, .4); 
            font-size: .7rem;

            &:focus {
                border: none;
                border-bottom: $color-blue-dark1;
            }
        }

        textarea:focus, input:focus {
            outline: 0;    
            background-color: $color-orange-light3; 
            border-bottom: 2px solid $color-blue-dark1; 

        }
    }

}